@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body::-webkit-scrollbar {
    width: 0.4em;
    background-color: #0b192f;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #4c5474;
    scrollbar-gutter: stable;
    border-radius: 40px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
